<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body 
	 class="background-image" 
	style="background-image: url('https://mcdn.wallpapersafari.com/medium/75/36/oz6FQw.jpg');"><h3> View Student Details</h3>
<div>
    <div>
        <label> <b> Applicant Name: </b></label> {{student.applicantName}}
    </div>
    <div>
        <label> <b> Course: </b></label> {{student.course}}
    </div>
    <div>
        <label> <b> Institute: </b></label> {{student.institute}}
    </div>
    <div>
        <label> <b> E-Mail: </b></label> {{student.emailId}}
    </div>
    <div>
        <label> <b> Contact-No: </b></label> {{student.userMobile}}
    </div>
    
</div>
</body></html>
