
<h1 class="text-center" style=" color: ghostwhite; font-family:'Times New Roman', Times, serif; background-image: url('https://mcdn.wallpapersafari.com/medium/10/67/hI5kfv.jpg');" 
>{{title}}<ul class="nav nav-pills">
    <li class="nav-item">
        <li class="nav-item">
            <a routerLink ="home" routerLinkActive="active" class="nav-link" style="color: rgb(8, 8, 8);font-family: 'Times New Roman', Times, serif;font-size: large">Home</a>
        </li>
       <li>
            <a routerLink ="add" routerLinkActive="active" class="nav-link" style="color: rgb(10, 10, 10);font-family: 'Times New Roman', Times, serif;font-size:large">New Register</a>
        </li> 
        <li class="nav-item">
            <a routerLink ="student" routerLinkActive="active" class="nav-link" style="color: rgb(7, 7, 7);font-family: 'Times New Roman', Times, serif;font-size: large">Students List</a>
        </li>
  </ul>
</h1>
   
<div class="container">
    <router-outlet></router-outlet>
</div>

